<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Web Sitesi Başlığı</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Web Sitesi Logo</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Ana Sayfa</a></li>
                <li><a href="../pages/hakkimizda.html">Hakkımızda</a></li>
                <li><a href="../pages/iletisim.html">İletişim</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>